CompileFlags:
  Add:
    - "-DARDUINO=20000"
    - "-DARDUINO_AVR_MEGA2560"
    - "-DARDUINO_ARCH_AVR"
    - "-D__AVR__"
    - "-D__AVR_ATmega2560__"
    - "-DF_CPU=16000000"
    - "-I/home/minhle/.arduino15/packages/arduino/hardware/avr/1.8.8/variants/mega"
    - "-I/home/minhle/.arduino15/packages/arduino/hardware/avr/1.8.8/cores/arduino"
    - "-I/home/minhle/.arduino15/packages/arduino/hardware/avr/1.8.8/libraries/Wire/src"
    - "-I/home/minhle/.arduino15/packages/arduino/hardware/avr/1.8.8/libraries/SPI/src"
    - "-I/home/minhle/.arduino15/packages/arduino/tools/avr-gcc/7.3.0-atmel3.6.1-arduino7/avr/include"
    - "-I/home/minhle/.arduino15/packages/arduino/tools/avr-gcc/7.3.0-atmel3.6.1-arduino7/lib/gcc/avr/7.3.0/include"
    - "-I/home/minhle/Arduino/libraries/MCUFRIEND_kbv"
    - "-I/home/minhle/Arduino/libraries/Adafruit_BusIO"
    - "-I/home/minhle/Arduino/libraries/Adafruit_GFX_Library"
    - "-I/home/minhle/Arduino/libraries/Adafruit_TouchScreen"
    - "-I/home/minhle/Projects/guift"
